.navbar-brand
{
    padding:0px;
}
body
{
    background-color:#66FFB3;
}

.post-footer
{
    height:140px;
}

.btn-custom {
  background-color: #00FF7F;
  border-color: #00FF7F;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #00e672;
  border-color: #00cc66;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #00FF7F;
  border-color: #00FF7F;
}

textarea {
    resize: none;
}

a
{
    color:#00CC66;
    cursor:pointer;
}

a:hover, a:visited
{
    color:#00994D;
}
